// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Branding
$purple: #52469e;
$pink: #fa947b;
$gray: #c2c2c2;
